
.menu-area {
  background: #f7f7f7;
  color: rgba(0,0,0,.8);
}
.menu-area ul {
  list-style: none;
  padding: 1rem 0;
}
.menu-area li {
  padding-top: .5rem;
}

.lift-type-filter {
  cursor: pointer;
  color: rgba(50,50,50, .8);
}
.lift-type-filter span {
  margin-left: 4px;
}

.lift-area {
  max-width:800px;
  padding: 1rem 0 0 1rem;
  text-align: left;
  background: #fff;
  box-shadow: 1px 1px 4px rgba(0,0,0,.1)
}

.lift-field {
  color: cornflowerblue;
  text-align:left;
  font-size:14px;
  margin-left: .5rem;
}

.lift-value {
  color: #2a2a2a;
  font-size: 16px;
}

.lift-card,
.lift-form {
  display: grid;
  grid-template-columns: minmax(240px, 1fr) 70px 70px 100px 200px;
  grid-gap: 8px;
  padding: 5px;
}

.lift-form .form-group .form-control {
  width: 100%;
  margin-right: 8px;
}

.lift-card {
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,.15);
  cursor: pointer; 
}

.lift-form .btn {
  margin-right: .5rem;
}

.add-lift {
  color: cornflowerblue;
  padding: 5px;
  cursor: pointer;
}