extends layout

block content
  h1= title
  p= message 
  form(action="/login", method="post")
    lable(for="username") Username
    input(type="text" name="username")
    input(type="submit", value="Register")